<div>
<div class="container-fluid mt-2">
  <div *ngFor="let mess of messages">
    <app-message-bubble [senderName]="mess.fromPeerId" [content]="mess.content">
    </app-message-bubble>
  </div>

</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="container">
  <!-- Emoji Picker-->
  <emoji-mart *ngIf="showEmojiPicker" set="messenger" [showPreview]="false" (emojiClick)="addEmoji($event)"></emoji-mart>

  <!-- Input Box-->
  <form class="form-container fixed-bottom ml-3 mr-2"
        [formGroup]="messageForm"
        (ngSubmit)="sendMessage(messageForm.value)">
    <div class="form-group d-flex">
      <a class="btn btn-light" (click)="toggleEmojiPicker()">
        <i class="fa fa-smile-o fa-lg"></i>
      </a>
      <div class="custom-file">
        <input class="custom-file-input" type="file" id="inputFile" accept="image/*" (change)="uploadImage($event)" />
        <label class="custom-file-label" for="inputFile">File</label>
      </div>
      <input type="text"
             formControlName="messageToSend"
             class="form-control"
             placeholder="Aa"
             autofocus />
      <button *ngIf="messageToSend.value != ''"
              class="invisibleBtn"
              type="submit">
        <img class="ml-1" src="../../assets/send-mail.svg" />
      </button>
    </div>
  </form>
</div>
</div>
