<div role="main" class="cover">
  <div class="container text-center">
    <h1 class="display-3">Create groups and Chat!</h1>
    <p>
      Create groups and chat with friends now! No account needed! 100% privacy!
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-center mt-5">
      <a class="btn btn-lg mr-md-3 btn-orange" role="button" routerLink="/chat"
        >Create New Group &raquo;</a
      >
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-center">
      An open source project by
      <a href="https://github.com/DinamoTeam" target="_blank">Dinamo Team</a>
    </p>
  </div>
</footer>
