<h1>My id {{ peer.id }}</h1>
<input type="text" [(ngModel)]="peerConnectToId" />
<button type="button" class="btn btn-info" (click)="connect()">Connect</button>
<br>
<textarea [(ngModel)]="message"></textarea>
<button type="button" class="btn btn-success" (click)="sendMessage()">Send</button>
<br>
<button type="button" class="btn btn-success" (click)="getAllPeerIds()">Print All Ids</button>
<br>
<br>
<button type="button" class="btn btn-success" (click)="getAllPeerIdsIAmConnectedTo()">Print Ids I'm connected to</button>